.message{
    display:flex;
    align-items:center;
}
.message >.avatar{
    height:50px;
    width:50px;
    object-fit:contain;
     margin-left:10px;
 
}
.message_info{
    padding-left:10px;
}
.user_timestamp{
  color:gray;
  font-weight:300; 
  font-size:13px; 
}